.talk-input {

  &-wrapper {
    display: flex;
  }

  &-raw {
    height: 28px;
    width: 100%;
    padding: 4px;
    font-size: 0.9375rem;
    line-height: 1.9em;
    color: #2f3136;
    border: 1px solid rgba(145, 145, 145, 0.39);
    resize: none;
    &:focus {
      outline: none;
      border: 1px solid rgba(81, 203, 238, 1);
    }
    &:disabled {
      background: #FDF1C1;
    }
  }

  &-emojis-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    background: white;
    border: 1px solid;
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    margin: 1rem;

    span,
    &-close {
      cursor: pointer;
    }

    span {
      margin: .5rem
    }

    &-close {
      background: transparent;
      border: 0;
    }
  }
}
